.listclass {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    justify-content: left;
    position: relative;
}

div[scrollx=true], div[scrolly=true] {
    position: relative;
    overflow: hidden;
  
    ::-webkit-scrollbar {
      display: none;
    }
  }
  
  div[scrollx=true] {
    overflow-x: auto;
  }
  
  div[scrolly=true] {
    overflow-y: auto;
  }

  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }