<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 
  <ion-grid>
    <ion-list>
      <app-stats></app-stats>
      <ion-slides [options]="slideOptsOne">
        <ion-slide  *ngFor="let recipe of recipes">
          <ion-img [src]="recipe.image" (click)="openDetailsPage(recipe.id)" class="imgclass"> </ion-img>
        </ion-slide>
      </ion-slides>
    </ion-list>
  </ion-grid>
  <ion-row>
    <div class="wrapper">
    <ion-col col-4 *ngFor="let recipe of recipes">
      <ion-card >
        <ion-img [src]="recipe.image" (click)="openDetailsPage(recipe.id)" class="imgclass"></ion-img>
      </ion-card>
    </ion-col>
  </div>

  </ion-row>
</ion-content>


