<ion-header>
 
  <ion-toolbar class="one" color="#5ca56c">
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{loadedRecipe.title}} </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDeleteRecipe()">
        <ion-icon name="trash" slot=icon-only></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-card>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>

    <img src={{loadedRecipe.image}}>
  </ion-card>  
  <ion-card color="warning">

    <ion-item>
      <ion-range color="danger" pin="true"></ion-range>
    </ion-item>

</ion-card>

<ion-grid>
  <ion-row>
    <ion-col>
      <div>
        1 of 3
      </div>
    </ion-col>
    <ion-col size="8">
      <div>
        2 of 3 (wider)
      </div>
    </ion-col>
    <ion-col>
      <div>
        3 of 3
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        1 of 3
      </div>
    </ion-col>
    <ion-col size="6">
      <div>
        2 of 3 (wider)
      </div>
    </ion-col>
    <ion-col>
      <div>
        3 of 3
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

